Repository matbour/calendar-avz: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint

format:
  run: pnpm prettier --check {staged_files}

eslint:
  run: pnpm eslint {staged_files}

feat: stateless calendar with drag'n'drop support
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/app/components/calendar/CalendarContext.ts
  src/app/components/calendar/CalendarController.tsx
  src/app/components/calendar/CalendarDays.tsx
  src/app/components/calendar/CalendarGrid.tsx
  src/app/components/calendar/CalendarSlot.tsx
  src/app/components/calendar/NewMeeting.tsx
  src/app/components/system/Button.tsx
  src/app/components/system/Field.tsx
  src/app/components/system/FieldError.tsx
  src/app/components/system/Input.tsx
  src/app/components/withDnd.tsx
  src/app/globals.css
  src/app/hooks/useWeek.tsx
  src/app/page.tsx
  tailwind.config.js
Due: format, eslint

feat: create meeting via Zoom API
  .eslintrc.cjs
  app/api/meetings/route.ts
  app/components/calendar/CalendarContext.ts
  app/components/calendar/CalendarController.tsx
  app/components/calendar/CalendarDays.tsx
  app/components/calendar/CalendarGrid.tsx
  app/components/calendar/CalendarSlot.tsx
  app/components/calendar/NewMeeting.tsx
  app/components/system/Button.tsx
  app/components/system/Field.tsx
  app/components/system/FieldError.tsx
  app/components/system/Input.tsx
  app/components/withDnd.tsx
  app/favicon.ico
  app/globals.css
  app/hooks/useWeek.tsx
  app/layout.tsx
  app/lib/env.ts
  app/lib/zoom/createMeeting.ts
  app/lib/zoom/getToken.ts
  app/page.tsx
  app/providers.tsx
  app/utils/base64.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  tsconfig.json
Due: format, eslint

feat: introduce dedicated useCreateMeeting hook
  app/components/calendar/CalendarContext.ts
  app/components/calendar/CalendarController.tsx
  app/components/calendar/CalendarSlot.tsx
  app/components/calendar/MeetingConfirmation.tsx
  app/components/calendar/NewMeeting.tsx
  app/hooks/useCreateMeeting.tsx
Due: eslint

feat: disable past slots - first working version
  app/components/calendar/CalendarContext.ts
  app/components/calendar/CalendarController.tsx
  app/components/calendar/CalendarSlot.tsx
  app/components/calendar/NewMeeting.tsx
  app/lib/zoom/createMeeting.ts
Due: eslint

chore: drop unused MeetingConfirmation
  app/components/calendar/MeetingConfirmation.tsx
Due: eslint

chore: remove unused isLoading
  app/components/calendar/NewMeeting.tsx
Due: eslint

feat: add CI, cleanup and add docs
  .env.development
  .eslintrc.cjs
  .github/CODEOWNERS
  .github/workflows/quality-assessment.yml
  .unimportedrc.json
  README.md
  app/api/meetings/route.ts
  app/components/calendar/CalendarButton.tsx
  app/components/calendar/CalendarContext.ts
  app/components/calendar/CalendarController.tsx
  app/components/calendar/CalendarDays.tsx
  app/components/calendar/CalendarGrid.tsx
  app/components/calendar/CalendarSlot.tsx
  app/components/calendar/NewMeeting.tsx
  app/components/layout/Header.tsx
  app/components/system/Button.tsx
  app/components/system/FieldError.tsx
  app/favicon.ico
  app/hooks/useCreateMeeting.tsx
  app/hooks/useTimezone.ts
  app/hooks/useWeek.tsx
  app/icon.png
  app/layout.tsx
  app/lib/env.ts
  app/lib/zoom/createMeeting.ts
  app/page.tsx
  app/robots.txt
  app/utils/base64.ts
  package.json
  pnpm-lock.yaml
Due: format, eslint

docs: heading level 2 -> 3
  README.md
Due: format

fix: use startOfWeek/endOfWeek instead of previousMonday/nextSunday
  app/components/calendar/CalendarContext.ts
  app/components/calendar/CalendarController.tsx
Due: eslint

fix: explicitly use UTC timezone in Zoom API
  app/lib/zoom/createMeeting.ts
Due: eslint

Path conditions:
  format: any of: *.{css,less,sass,scss,json,json5,yml,yaml,md,mdx,graphql}
  eslint: any of: *.{js,ts,jsx,tsx}
